<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title ? title + ' | Karthik\'s Chronicle' : 'Karthik\'s Chronicles' %></title>
 </title>
    <link rel="stylesheet" href="/styles.css">
   
</head>