<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>


<body>
    <%- include("./partials/nav.ejs") %>
    <div class="not-found content">
     <Big>oops page not found!!!!!</Big>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>

</html>