<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about  content">
        <h2>about Us</h2>
        <p>Welcome to Karthik's Chronicles, founded by Katuri Karthik, a visionary writer and passionate <br>
             advocate for sharing knowledge and ideas. Our website is a vibrant community where readers and 
             <br>writers from all walks of life come together to explore diverse topics ranging from technology and
             <br> lifestyle to personal development and global issues. Katuri Karthik's dedication to creating a space <br>
             for meaningful conversations and thought-provoking content drives our mission to inspire, educate,<br> and connect people through the power of words. Join us on this journey of discovery and engage
             <br> with a community that values creativity, insight, and the endless pursuit of learning.  <br>
                 <hr>
            For any inquiries or feedback, please contact: <br>
              
            
            <b>  Email: katurikarthik0506@gmail.com </b> 
          
    <%- include('./partials/footer.ejs') %>
</body>

</html>